@import './settings';

#home {
    background-image: url(../assets/images/Home/main.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
}

.home {
    background-color: rgba(0, 0, 0, .65);
    padding: 0 $md;
    height: 80%;
    width: 45%;

    &__title {
        font-size: $md;
        color: $off-white;
        font-weight: 400;
    }

    .input-field input[type=text]:focus {
        border-bottom: 1px solid $blue;
        box-shadow: $shadow;
      }
    
    .input-field input[type=text].validate {
        border-bottom: 1px solid $green;
        box-shadow: $shadow;
    }
    
    .input-field input[type=text].inputError, 
    .input-field input[type=password].inputError {
        border-bottom: 1px solid $error;
        box-shadow: $shadow;
    }

    #first_name, #password {
        color: $off-white;
    }

    &__btn {
        cursor: pointer;
        color: $off-white;
        padding: $xs 0;
        text-align: center;
        border-radius: $button-radius-md;
        transition: .3s linear all;

        &:hover {
            text-decoration: inherit;
            color: lighten($off-white, 10%);
        }

        &-login {
            width: 45%;
            background-color: $red;

            &:hover {
                background-color: darken($red, 10%);
                box-shadow: $shadow;
            }
        }

        &-back {
            padding: $xs $xs;
            border-radius: inherit;
            width: 45%;
            background-color: $blue;

            &:hover {
                background-color: darken($blue, 10%);
                box-shadow: $shadow;
            }
        }

    }
}

@media (max-width: $md-screen) {
    .home {
        padding: 0 $sm;
        width: 70%;
        height: 80%;
    }
}

@media (max-width: $sm-screen) {
    .home {
        padding: 0 $sm;
        width: 80%;
        height: 80%;
    }
}

.error {
    color: $red;
    display: block;
    font-size: 12px;
}

  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000;
  }