//Colors
$off-white: #ebe8e8;
$off-black: #333;
$green: #57b846;
$success-answer: #3f8b32;
$red: #ea4355;
$error-answer: #f44336;
$orange: #ffc400;
$blue: #358BF0;
$blue-dark: #005194;

// Sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xl: 5rem;
$xxl: 7rem;

/* $quicksandFont: 'Quicksand', sans-serif; */
$button-radius-md: 30px;

// Adaptive screens
$lg-screen: 1024px;
$md-screen: 768px;
$sm-screen: 641px;
$xs-screen: 480px;

// Shadow
$shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .12), 0 1px 5px 0 rgba(0, 0, 0, .2);
